@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!DOCTYPE html>
<html lang="@(isRTL ? "ar" : "en")" dir="@(isRTL ? "rtl" : "ltr")">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <title>
        Argon Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" asp-append-version="true"  />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" asp-append-version="true"  />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous" asp-append-version="true" ></script>
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" asp-append-version="true"  />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" asp-append-version="true"  />
</head>

<body class="@(isRTL ? "rtl" : "")">
    <partial name="partialViews/_IdentityNavbar" />
    
    <main role="main" class="main-content @(isRTL ? "overflow-hidden" : "") mt-0">
        
        @RenderBody()
    </main>

    @*<partial name="partialViews/_pageSetting" />*@

    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-facebook"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-twitter"></span>
                    </a>
                    <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                        <span class="text-lg fab fa-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    <!--   Core JS Files   -->
    <script src="~/assets/js/core/popper.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/core/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/chartjs.min.js" asp-append-version="true"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/argon-dashboard.min.js?v=2.0.4" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
