@model DBModels.AppModels.StudentTask

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-profile">
                <img src="~/assets/img/1.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-4 col-lg-4 order-lg-2">
                        <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                            <a href="javascript:;">
                                <img src="~/assets/img/g2.png" class="rounded-circle img-fluid border border-2 border-white">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="text-center mt-4">
                        <h5>
                            @Html.DisplayNameFor(model => model.Name)<span class="font-weight-light">: @Html.DisplayFor(model => model.Name)</span>
                        </h5>
                        <h5>
                            @Html.DisplayNameFor(model => model.TaskStatus)<span class="font-weight-light">: @Html.DisplayFor(model => model.TaskStatus)</span>
                        </h5>
                        <h5>
                            @Html.DisplayNameFor(model => model.TaskType)<span class="font-weight-light">: @Html.DisplayFor(model => model.TaskType)</span>
                        </h5>
                        <h5>
                            @Html.DisplayNameFor(model => model.EndDate)<span class="font-weight-light">: @Html.DisplayFor(model => model.shortEndDate)</span>
                        </h5>
                        <h5>
                            @Html.DisplayNameFor(model => model.parentTask)<span class="font-weight-light">: @Html.DisplayFor(model => model.parentTask.Name)</span>
                        </h5>

                    </div>
                </div>
                <hr class="horizontal dark">
                <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
                    <div class="d-flex justify-content-between">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <button type="submit" class="btn btn-sm btn-danger float-right mb-0 d-none d-lg-block">
                                @localizer["Delete"]
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

