@model IEnumerable<DBModels.AppModels.StudentTask>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cont = 1;
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <a asp-action="Create" class="btn btn-@AppConstants.colorName btn-sm ms-auto">@localizer["Create"]</a>

                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Name)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.TaskStatus)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.TaskType)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.EndDate)</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.parentTask)</th>
                                    <th class="text-secondary opacity-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@(cont++)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TaskStatus)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TaskType)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => item.EndDate)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => item.parentTask.Name)</td>
                                        <td class="td-actions text-right">
                                            <a asp-action="Edit" asp-route-id="@item.Id" type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                                                <i class="ni ni-single-02"></i>
                                            </a>
                                            <a asp-action="Details" asp-route-id="@item.Id type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                                <i class="ni ni-settings-gear-65"></i>
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                                                <i class="ni ni-fat-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

